body {
  min-height: 100vh;
  margin: 0;

  display: flex;
  flex-flow: column;
  align-items: stretch;

  background: #00000007;
  color: black;
}

header {
  width: 100%;
  text-align: center;
}

main {
  width: auto;
  flex: auto;
  margin: 32px 72px;

  display: flex;
  flex-flow: column;
  gap: 64px;

  border-radius: 16px;
  padding: 32px;
  box-shadow: 4px 4px 12px #0000003F;

  background: white;
}

.vertical-separator {
  background-color: white;
  opacity: 80%;
  display: inline-block;
  width: 1px;
}

#form {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 16px;

  color: black;
}

#input-container {
  flex: 3;
  min-width: 256px;

  display: flex;
  flex-flow: column;
  align-items: stretch;
  gap: 24px;
}

.input-block {
  display: flex;
  flex-flow: row wrap;
  gap: 8px 32px;
}

#form-submit-container {
  margin: 32px 64px;
  flex: 1;

  display: flex;
  flex-flow: column;
  align-items: center;
}

.field {
  padding: 4px 20px;
  flex: 1;

  display: flex;
  flex-flow: row;
  align-items: stretch;
  gap: 8px;

  outline: none;
  border: none;
  border-radius: 48px;
  background-color: rgb(20, 30, 200);
  color: white;
}

.field, .field * {
  cursor: text;
}

.field .vertical-separator, .field input {
  display: none;
}

.field label {
  opacity: 80%;
  font-size: 1.2rem;
  font-family: 'Courier New', Courier, monospace;
  white-space: nowrap;
}

.field input {
  padding: 0;
  min-width: 0px;

  background-color: rgb(20, 30, 200);
  border: none;
  outline: none;

  color: white;
  font-size: 1.2rem;
  font-family: 'Courier New', Courier, monospace;
}

.field input::placeholder {
  color: white;
  opacity: 50%;
}

/* Style input text selection */
.field input::selection {
  background: rgba(255, 255, 255, 0.8);
  color: rgb(20, 30, 200);
}

.field label, .field input {
  margin: 4px 0px;
}

/* Show vertical separator when input focused */
.field:focus-within .vertical-separator {
  display: inline-block;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
}
